@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
}
.nav-link{
color: black !important;
}
.fs-7{
    font-size: 14px !important;
}
.btn-categerory{
    padding-top: 6%  !important;
    padding-bottom: 6%  !important;
}
.input-size{
    padding: 12px;
    border: 1px solid #cdcfd3 !important;
    width: 100%;
}
.input-size:focus{
    outline: none;
}
.custom-magnifing{
    top: 25%;
    right: 0%;
}
.input-box{
    width: 38%;
}

.nav-pills .nav-link.active, .nav-pills .show >.nav-link {
    color: white !important;
    background-color: #f55265 !important ;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f55265 !important;
    --bs-btn-border-color: #f55265 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d14555 !important;
    --bs-btn-hover-border-color: #d14555 !important; 
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d14555 !important;
    --bs-btn-active-border-color: #d14555 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f55265 !important;
    --bs-btn-disabled-border-color: #f55265 !important;
}
.form-check-input:checked {
    background-color: #f55265 !important;
    border-color: #f55265 !important;
}
.icon-badge{
    font-size: 10px !important;
    top: -10px;
    right:1px;
    background: #f55265 !important;
}
.img-background1{
    background-size: cover !important;
    background-position: center !important;
    background-image: url(/images/01.jpg ) !important;
    padding: 16% 5%;
    height: 100vh;
    
}
.img-background2{
    background-size: cover !important;
    background-position: center !important;
    background-image: url(/images/02.jpg ) !important;
    padding: 16% 5%;
    height: 100vh;
    
}
.img-background3{
    background-size: cover !important;
    background-position: center !important;
    background-image: url(/images/03.jpg ) !important;
    padding: 16% 5%;
    height: 100vh;
}
.icon-bg{
    padding: 6px 6px;
}
.icon-bg1{
  padding: 6px 11px;
}
.font{
    font-size: 4rem;
    font-weight: 700;
}
.shop-btn{
    transition: all 0.3s;
}
.shop-btn:hover{
   color: black !important;
   background-color: white !important;
}
.bg-1{
   background:#feeeef; 
}
.bg-2{
    background:#ecf7f1; 
}
.bg-3{
    background:#eaf1fb; 
}
.margin-top{
    margin-top: 25vh;
}
.img-size{
    width: 80px;
}
.lifestyle-cards{
    padding: 70px 0px;
    margin-bottom: 15%;
}
.bg-4{
  background-color: #feecec;
}
.input-placeholder::placeholder{
    color: white !important;
}
.text-second{
    color: #d9d8d6  !important;
}
.nav-link:hover{
cursor: pointer;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ec4848;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* sign-IN */

.bg-gradient{
    background: linear-gradient(90deg, rgba(230,239,253,1) 50%, rgba(173,203,239,1) 100%)  !important;
}
.form-control{
    padding: 13px 20px !important;
}
.form-control::placeholder{
 font-weight: 500;
 color: #b7b8ba ;
}


.btn-signin:hover{
 border: 1px solid #222121 !important;
}
.bg-trans{
    background-color: rgba(255, 255, 255, 0.201);
    border: 1px solid white;
    border-radius: 10px;
}
